@import 'bootstrap/scss/bootstrap.scss';

:host {
  display: flex;
}

.landing {
  background: $gray-200;
}

.header {
  letter-spacing: 0.15em;
  font-size: 22px;
}

img {
  width: 35%;
  min-width: 300px;
}
