@import 'bootstrap/scss/bootstrap.scss';

:host {
  display: flex;
}

@media screen and (max-width: 768px) {
  .mail {
    font-size: 16px !important;
  }
}

.contact {
  background: $gray-100;
}

.mail {
  letter-spacing: 0.025em;
  font-weight: 700;
  font-size: 1.375em;

  a {
    color: inherit;
  }
}
