@import 'bootstrap/scss/bootstrap.scss';

:host {
  display: flex;
}

@media screen and (max-width: 768px) {
  .container-inner {
    flex-wrap: wrap;

    app-text-description {
      --text-description-text-align: left !important;
      margin-bottom: 15px;
      margin-right: 0 !important;
    }
  }
}

.project {
  background: $gray-100;
}

.container-inner {
  flex-direction: row;
  // flex-wrap: wrap;
}

.description {
  font-family: 'Plantin Light', serif;
  font-size: 24px;
  text-align: right;
}

img {
  width: 25%;
  min-width: 150px;
  max-width: 350px;
}
