<div class="project d-flex flex-column flex-grow-1 justify-content-between">
  <div class="d-flex flex-column align-items-center">
    <app-page-heading [title]="'PROJEKT'"></app-page-heading>

    <div class="container mt-5">
      <div class="container-inner d-flex">
        <div>
          <app-text-description class="me-5">
            Die Einwegnutzung verursacht in der Regel mindestens doppelt so hohe
            CO2-Emissionen wie Mehrwegalternativen.
          </app-text-description>
        </div>

        <div class="param-wrapper">
          <div>
            <app-paragraph>
              Die grösste Herausforderung unserer Zeit besteht darin, eine
              Lebensweise anzustreben, die nachhaltig ist und einen
              verantwortungsvollen Umgang mit den verfügbaren Ressourcen
              ermöglicht.
            </app-paragraph>

            <app-paragraph>
              Bei Pilatus Flugzeugwerke AG gibt es zusätzlich zur Mensa einen
              kleinen Kiosk der nur Take-Away Menüs anbietet. Durch die
              Einwegschalen, welche beim Kiosk das Mittagsmenü ausgeschöpft
              wird, erzeugt sich enorm viel Abfall. Darum war mir bald klar,
              dass ich mein Mini-Nachhaltigkeitskonzept über das Einweggeschirr
              verfassen möchte. Ich verfolge in meiner Arbeit den Ansatz, den
              Abfall zu minimieren um eine positivere Auswirkung auf die CO2
              Bilanz zu erzeugen.
            </app-paragraph>
          </div>

          <div>
            <app-paragraph>
              Um den Abfall von Einweggeschirr zu minimieren hatte ich die Idee,
              dass die Mitarbeitende anstelle von Einwegschalen ihre
              persönlichen Tupperware von Zuhause mitbringen. Weil eine
              Durchführung aller Mitarbeiter der Pilatus das Ausmass dieses
              Mini-Nachhaltigkeitskonzeptes überschreiten würde, stütze ich mich
              auf die HR-Abteilung von Pilatus ab.
            </app-paragraph>

            <app-paragraph>
              Um dies umsetzen zu können, durfte ich eine Zusammenarbeit mit dem
              Kiosk aufnehmen. Der Firmeninterne Kiosk hat eingewilligt, mir
              jeden Abend mit einer E-Mail bekanntzugeben wie viele Personen von
              der Personalabteilung mit einem Tupperware das Mittagsmenü geholt
              haben. Durch diese wertschätzende Zusammenarbeit war es mir
              möglich, eine Analyse des reduzierten Abfalls über zwei Wochen zu
              erstellen. In der Auswertung habe ich nicht die absolute Anzahl
              von Personen die mit einem Tupperware ihr Mittagessen geholt haben
              genommen, sondern die relative Zahlen. Also wieviel Prozent von
              den HR Mitarbeitern haben ihr Mittagessen beim Kiosk mit dem
              eigenen Tupperware abgeholt. Der Grund dafür ist, dass es Tage
              gibt wo viele Angestellte der Personalabteilung im Home Office
              arbeiten und nicht immer alle beim Kiosk ihr Mittagessen holen.
              Dies macht eine Auswertung unmöglich. Mein Ziel ist es, dass über
              zwei Wochen durchschnittlich 70% aller Mitarbeitenden der
              Personalabteilung mit ihrem persönlichen Tupperware Geschirr das
              Mittagessen holen.
            </app-paragraph>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <img src="assets/images/icon-food.png" alt="" />
  </div>
</div>
