<div class="project d-flex flex-column flex-grow-1 justify-content-between">
  <div class="d-flex flex-column align-items-center">
    <app-page-heading [title]="'PROJEKT'"></app-page-heading>

    <div class="container mt-5">
      <div class="container-inner d-flex">
        <div>
          <app-text-description class="me-5">
            Mit den wiederverwendbaren Dingsbums verbessere wird die
            Umweltbilanz von Pilatus. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua.
          </app-text-description>
        </div>

        <div>
          <div class="me-2">
            <app-paragraph>
              Aorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus est Lorem ipsum dolor sit amet.
            </app-paragraph>

            <app-paragraph>
              Borem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus est Lorem ipsum dolor sit amet.
            </app-paragraph>
          </div>
        </div>

        <div>
          <app-paragraph>
            Corem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet.
          </app-paragraph>

          <app-paragraph>
            Dorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet.
          </app-paragraph>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <img src="assets/images/icon-food.png" alt="" />
  </div>
</div>
