<div class="project d-flex flex-column flex-grow-1 justify-content-between">
  <div class="d-flex flex-column align-items-center">
    <app-page-heading [title]="'PROJEKT'"></app-page-heading>

    <div class="container mt-5">
      <div class="container-inner d-flex">
        <div>
          <app-text-description class="me-5">
            Die Einwegnutzung verursacht in der Regel mindestens doppelt so hohe
            CO2-Emissionen wie Mehrwegalternativen.
          </app-text-description>
        </div>

        <div class="param-wrapper">
          <div>
            <app-paragraph>
              Die Einwegnutzung verursacht in der Regel mindestens doppelt so
              hohe CO2-Emissionen wie Mehrwegalternativen. Die grösste
              Herausforderung unserer Zeit besteht darin, eine Lebensweise
              anzustreben, die nachhaltig ist und einen verantwortungsvollen
              Umgang mit den verfügbaren Ressourcen ermöglicht.
            </app-paragraph>

            <app-paragraph>
              Bei Pilatus Flugzeugwerke AG gibt es zusätzlich zur Mensa einen
              kleinen Kiosk, der nur Take-Away Menüs anbietet. Das Mittagsmenü
              wird in Einwegschalen verkauft, wodurch viel Abfall erzeugt wird.
              Darum war mir bald klar, dass ich mein Mini-Nachhaltigkeitsprojekt
              über das Vermeiden von Einweggeschirr verfassen möchte. Ich
              verfolgte in meiner Arbeit den Ansatz, den Abfall zu minimieren,
              um eine positivere Auswirkung auf die CO2 Bilanz zu bewirken.
            </app-paragraph>
          </div>

          <div>
            <app-paragraph>
              Um den Abfall von Einweggeschirr zu minimieren, hatte ich die
              Idee, dass die Mitarbeitenden ihre persönlichen Tupperware von zu
              Hause mitbringen. Weil eine Durchführung mit allen Mitarbeitenden
              der Pilatus das Ausmass dieses Mini-Nachhaltigkeitskonzeptes
              überschreiten würde, konzentrierte ich mich auf die HR-Abteilung
              von Pilatus.
            </app-paragraph>

            <app-paragraph>
              Um dies umzusetzen, durfte ich eine Zusammenarbeit mit dem Kiosk
              aufnehmen. Der firmeninterne Kiosk hat eingewilligt, mir jeden
              Abend per E-Mail bekanntzugeben, wie viele Personen von der
              Personalabteilung mit einem Tupperware das Mittagsmenü geholt
              haben. Dadurch war es mir möglich, eine Analyse des reduzierten
              Abfalls über zwei Wochen hinweg zu erstellen. In der Auswertung
              habe ich nicht die absolute Anzahl der Personen genommen, sondern
              die relativen Zahlen, also, wieviel Prozent von den
              HR-Mitarbeitenden ihr Mittagessen beim Kiosk mit dem eigenen
              Tupperware abgeholt haben. Der Grund dafür ist, dass es Tage gibt,
              wo viele Angestellte der Personalabteilung im Homeoffice arbeiten
              und nicht vor Ort Mittag essen. Dies würde eine Auswertung
              unmöglich machen. Mein Ziel war es, dass während der zwei Wochen
              durchschnittlich 70% aller Mitarbeitenden der Personalabteilung
              mit ihrem persönlichen Tupperware das Mittagessen holen.
            </app-paragraph>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <img src="assets/images/icon-food.png" alt="" />
  </div>
</div>
