.menu-button {
  position: fixed;
  right: 0;
  z-index: 100;
  cursor: pointer;

  i {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .menu-button {
    i {
      font-size: 2rem;
    }
  }

  .menu {
    app-menu {
      max-height: unset;
      left: 100vw;
      transition: left 0.3s ease-in;

      &.visible {
        left: 0;
      }
    }
  }
}

app-menu {
  max-height: 0;
  transition: max-height 1s ease-out;
  overflow: hidden;

  &.visible {
    max-height: 100vh;
    transition: max-height 1.5s ease-in;
  }
}

.full-size {
  min-height: 100vh;
  height: fit-content;
  width: 100%;
}

.half-size {
  min-height: 50vh;
  height: fit-content;
  width: 100%;
}
