<div class="project d-flex flex-column flex-grow-1 justify-content-between">
  <div class="d-flex flex-column align-items-center flex-grow-1">
    <app-page-heading [title]="'REFLEKTION'"></app-page-heading>

    <div
      class="container mt-5 d-flex flex-column justify-content-between flex-grow-1"
    >
      <div class="container-inner d-flex">
        <div>
          <!-- <app-text-description class="me-5">
            Mit den wiederverwendbaren Dingsbums verbessere wird die
            Umweltbilanz von Pilatus. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua.
          </app-text-description> -->
        </div>

        <div>
          <div class="para-wrapper me-2 d-flex">
            <app-paragraph class="me-3">
              Wie erwähnt, wurde das Projekt einfachhalber nur mit dem HR Team
              durchgeführt. Da das Resultat ein grosser Erfolg war, habe ich das
              Ziel, die Umsetzung über die ganze Firma umzusetzen. Langfristig
              möchte ich einen Rabatt einführen für alle Mitarbeitenden, welche
              mit dem ökologischen Gedanken ihre persönlichen Tupperware
              mitnehmen. Durch eine Umfrage wurde mir mitgeteilt, dass die
              Tupperware oftmals Zuhause vergessen wurden. Dadurch verfolge ich
              den Ansatz eine Infrastruktur zu erstellen, sodass die Schalen bei
              Pilatus gewaschen und gelagert werden. So werden keine Tupperware
              mehr vergessen und die ökologische Bilanz wächst weiter in die
              Höhe.
            </app-paragraph>

            <app-paragraph>
              Es dauerte nicht lange, bis sich mein Projekt in der Unternehmung
              herumgesprochen hat. Mitarbeitende waren neugierig wieso plötzlich
              das Menü aus der persönlichen Tupperware gegessen wird. Durch die
              positive Mund zu Mund Propaganda hat sich der soziale Aspekt
              gezeigt, indem Mitarbeitende von verschiedenen Abteilungen sich
              zusammen unterhielten und auf das Thema Nachhaltigkeit
              sensibilisiert wurden. Ebenso zeigte sich eine minimale positive
              Auswirkung auf den ökonomischen Aspekt indem der Kiosk um XY%
              weniger Einwegschalen verwenden musste und somit eine kleine
              Kostenersparnis zustande gekommen ist.
            </app-paragraph>
          </div>
        </div>

        <!-- <div>
          <app-paragraph>
            Corem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet.
          </app-paragraph>

          <app-paragraph>
            Dorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet.
          </app-paragraph>
        </div> -->
      </div>
      <div class="d-flex justify-content-center">
        <img src="assets/images/reflection.png" alt="" />
      </div>
    </div>
  </div>
</div>
