:host {
  display: flex;
}

img {
  width: 25%;
  min-width: 150px;
  max-width: 150px;
}

.para-wrapper {
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .para-wrapper {
    flex-direction: column;
  }
}
